/*
* Sarah Houseal
* 10/18/18
* Schedule
*/

/* The Universal Selector */

* {

}

/* Body Attributes Here */
/* Makes the background color on my schedule aliceblue */
body {
    background-color: white;
}
table, td, th { border: 1px solid black; }

table { border-collapse: collapse; }

thead { background-color: lightblue; }
tbody { background-color: pink; }
tfoot { background-color: lightgrey;}